*{
    margin:0;
    padding:0;
    font-family: "微软雅黑";
}
body{
    background:#F6F6F6;
}
.container{
    width: 10rem;
    margin:0 auto;
}
.topbanner{
    background:#fff;
    width:10rem;
    height:6.933333rem;
}
.topbanner img{
    width:100%;
    height:100%;
}
.personmes{
    background:#fff;
    width:9.2rem;
    padding:0.4rem;
    height:1.466667rem;
    line-height:1.466667rem;
}
.personmes img{
    width:1.466667rem;
    height:1.466667rem;
    border-radius: 50%;
}
.personmes div{
    color:#333;
}
.personmes div span{
    color:#CD0126;
    padding:0 0.133333rem;
}
.flowerNum{
    font-weight:600;
}
.rankBox{
    width:9.2rem;
    background:#fff;
    padding: 0.5rem 0.4rem 0.4rem 0.4rem;
}
.ranking{
    clear: both;
    background:rgba(245, 137, 137, 0.1);
    width:8.4rem;
    padding:0.5rem 0.4rem;
    color:#333;
}
.btnbox{
    background:#F6F6F6;
    border:1px solid #E5E5E5;
    box-sizing:border-box;
}
.share {
    width:9.2rem;
    height:1.306667rem;
    line-height:1.306667rem;
    background:#5BA997;
    color:#fff;
    margin-left: 0.4rem;
    margin-top:0.4rem;
    border-radius:0.133333rem;
}
.youself,.sendyouself a{
    display: block;
    box-sizing: border-box;
    height:1.306667rem;
    line-height:1.306667rem;
    width:9.2rem;
    margin:0.4rem;
    color:#5BA997;
    border:2px solid #5BA997;
    border-radius:0.133333rem;
}
.sendyouself a{
    margin-bottom:0.533333rem;
}
.sendyouself a:hover{
    text-decoration: none;
}
.friends{
    width:9.2rem;
    padding:0.4rem;
    background:#fff;
}
.getFlower{
    width:9.2rem;
    background:#333;
    height:1px;
    position:relative;
    margin-top:0.266667rem;
    margin-bottom:0.8rem;
}
.getFlower span{
    color:#333;
    position:absolute;
    width:3.8rem;
    text-align:center;
    top:-20px;
    left:0;
    right:0;
    margin:0 auto;
    padding:0.266667rem;
    background:#fff;
}
.friendList{
    width:9.2rem;
    height:1.2rem;
    margin-top:0.6rem;
}
.friendList img{
    width:1.2rem;
    height:1.2rem;
    border-radius:50%;
}
.nickname,.writetime{
    color:#333;
}
.liuyan{
    color:#8C8C8C;
}
.userMes{
    height:1.306667rem;
}
.userMes p{
    margin-top:0.133333rem;
}
.hasflower{
    height:1.306667rem;
    line-height:1.306667rem;
    color:#EA0404;
}
.userMes p{
    padding-left:0.266667rem;
}
.userMes p span{
    padding-right: 0.266667rem;
}
.more{
    clear:both;
    width:9.2rem;
    height:1.306667rem;
    line-height:1.306667rem;
    text-align:center;
}
.more a{
    color:#666;
}
.more a:hover{
    text-decoration:none;
}
.description{
    clear:both;
    width:9.2rem;
    padding:0.4rem;
    margin-top: 0.266667rem;
    background:#fff;
    padding-bottom:2rem;
}
.description h1{
    position:relative;
    height:1px;
    background:#333;
    text-align:center;
    margin-top:0.506667rem;
    margin-bottom:0.666667rem;
}
.description h1 span{
    color: #333;
    position: absolute;
    width:2rem;
    text-align: center;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0.266667rem;
    background: #fff;
}
.description p{
    color:#8C8C8C;
    width:8.8rem;
    margin:0.266667rem 0.2rem 0 0.2rem;
    line-height:0.506667rem;
}
.layerbox{
    position:fixed;
    width:10rem;
    height:100%;
    top:0;
    background:rgba(0, 0, 0, 0.7);
    left:0;
    right:0;
    margin:0 auto;
    z-index: 2;
}
.layer{
    position:absolute;
    width:7.373333rem;
    height:6.32rem;
    margin:5.5rem 1.306667rem;
    background:url('../images/tankuan.png') no-repeat;
    background-size:7.373333rem 6.32rem ;
    text-align: center;

}
.layer h1{
    margin-top:2.6rem;
    margin-bottom:0.2rem;
    color:#333;
}
.zengyan{
    color:#333;
    margin:0.35rem 0;
}
.okBtn{
    width:2.8rem;
    height:0.933333rem;
    line-height:0.933333rem;
    background:#5BA997;
    color:#fff;
    margin-top:0.4rem;
    border-radius:0.053333rem;
    margin:0 auto;
}
.sharelayer{
    position:fixed;
    background:rgba(0, 0, 0, 0.7);
    height:100%;
    top:0;
    left:0;
    right:0;
    margin:0 auto;
    width:10rem;
}
.sharelayer img{
    width:10.0rem;
    height:2rem;
}


